<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin:10px;
            align-items: center;
            height: 100vh;

            background-color: #f0f0f0;
        }
        h1 {
            color: #333;
        }
    </style>
</head>
<body>
<h1>Enter your EmailID Here</h1>
<font color="red"><p th:text="${errmsg}"></p></font>
<font color="green"><p th:text="${smsg}"></p></font>
<form  th:action="@{/forgotpwd}" th:object="${counsellor}" method="post">
    <tr>
        <td>Email ID:</td>
        <td><input type="email"  name="email" required/></td>
    </tr>
    <button type="submit">Submit</button>
</form>
<a href="/">Login Here</a>
</body>
</html>
